.venv
.env
__pycache__/
.venv/
.env/
.venv-/
.env-/
.venv-*/
.env-*/ 
./Models/YOLO/Synth_dataset*/
*.log
Models/
.pytest_cache/
flet_app.py
main_draft_st.py
runs/
API/images/*.jpg
API/images_treated/*.jpg
